@import "../../vars.css";

.container {
    position: relative;
    background-color: rgba(43, 41, 51, 0.6);
    border-radius: 15px;
    padding: 70px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImage {
    width: 35%;
}

.aboutImage:hover {
    transform: scale(1.1) rotate(3deg);
    animation: float 0.5s ease-in-out infinite alternate;
}

/* Keyframes for the floating effect */
@keyframes float {
    0% {
        transform: translateY(0) scale(1.1) rotate(10deg);
    }
    100% {
        transform: translateY(-8px) scale(1.1) rotate(-10deg);
    }
}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background: rgba(44, 77, 153, 0.25);
    background-image: linear-gradient(
        90deg,
        rgba(165, 215, 232, 0.42) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
}

.aboutItem p {
    font-size: 25px;
}

@media screen and (max-width: 830px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .content {
        flex-direction: column;
    }

    .aboutImage {
        display: none;
    }

    .aboutItems {
        margin-top: 29px;
    }

    .aboutItem {
        padding-left: 0;
        padding-right: 0;
    }
}
